In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\programdata\anaconda3\envs\myenv\lib\site-packages (0.5.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython-sql) (2.0.12)
Requirement already satisfied: six in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: ipython in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython-sql) (8.13.2)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: backcall in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\programdata\anaconda3\envs\myenv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)

In [2]:
# To enable SQL to run on jupyter
# loading the database
%load_ext sql
%sql sqlite:///Jobs.db

## SQL Queries

In [5]:
%%sql

/* retrieving the full data, showing only first 5 rows */

SELECT *
    FROM recent_grads
    LIMIT 5;

 * sqlite:///Jobs.db
Done.

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193),
 (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50),
 (2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0),
 (3, 4, 2417, 'NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering', 1258, 16, 1123, 135, 0.107313196, 758, 1069, 150, 692, 40, 0.050125313, 70000, 43000, 80000, 529, 102, 0),
 (4, 5, 2405, 'CHEMICAL ENGINEERING', 'Engineering', 32260, 289, 21239, 11021, 0.341630502, 25694, 23170, 5180, 16697, 1672, 0.061097712, 65000, 50000, 75000, 18314, 4440, 972)]

In [4]:
%%sql
 /* selecting individual columns */
    
    SELECT Major,Total,Employed
          FROM recent_grads
          LIMIT 5;

 * sqlite:///Jobs.db
Done.

[('PETROLEUM ENGINEERING', 2339, 1976),
 ('MINING AND MINERAL ENGINEERING', 756, 640),
 ('METALLURGICAL ENGINEERING', 856, 648),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 1258, 758),
 ('CHEMICAL ENGINEERING', 32260, 25694)]

In [6]:
%%sql

/* filter rows that meet a particular criteria */

SELECT Major,Major_Category
     FROM recent_grads
     WHERE total<1000;

 * sqlite:///Jobs.db
Done.

[('MINING AND MINERAL ENGINEERING', 'Engineering'),
 ('METALLURGICAL ENGINEERING', 'Engineering'),
 ('GEOLOGICAL AND GEOPHYSICAL ENGINEERING', 'Engineering'),
 ('MATHEMATICS AND COMPUTER SCIENCE', 'Computers & Mathematics'),
 ('SCHOOL STUDENT COUNSELING', 'Education'),
 ('MILITARY TECHNOLOGIES', 'Industrial Arts & Consumer Services'),
 ('SOIL SCIENCE', 'Agriculture & Natural Resources'),
 ('EDUCATIONAL ADMINISTRATION AND SUPERVISION', 'Education')]

In [7]:
%%sql

/* using multiple criteria */

SELECT Major,Total,ShareWomen
    FROM recent_grads
    WHERE Major_Category="Biology & Life Science" AND ShareWomen<0.5;

 * sqlite:///Jobs.db
Done.

[('MOLECULAR BIOLOGY', 18300, 0.07745302700000001),
 ('NEUROSCIENCE', 13663, 0.47501047)]

In [8]:
%%sql

SELECT Major
      FROM recent_grads
      WHERE Median > 10000 OR ShareWomen < 0.5
      LIMIT 5;

 * sqlite:///Jobs.db
Done.

[('PETROLEUM ENGINEERING',),
 ('MINING AND MINERAL ENGINEERING',),
 ('METALLURGICAL ENGINEERING',),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING',),
 ('CHEMICAL ENGINEERING',)]

In [9]:
%%sql

/* ordering results */

SELECT Major,Major_Category,Unemployed
       FROM recent_grads
       ORDER BY Unemployed
       LIMIT 10;

 * sqlite:///Jobs.db
Done.

[('MATHEMATICS AND COMPUTER SCIENCE', 'Computers & Mathematics', 0),
 ('MILITARY TECHNOLOGIES', 'Industrial Arts & Consumer Services', 0),
 ('BOTANY', 'Biology & Life Science', 0),
 ('SOIL SCIENCE', 'Agriculture & Natural Resources', 0),
 ('EDUCATIONAL ADMINISTRATION AND SUPERVISION', 'Education', 0),
 ('COURT REPORTING', 'Law & Public Policy', 11),
 ('METALLURGICAL ENGINEERING', 'Engineering', 16),
 ('ENGINEERING MECHANICS PHYSICS AND SCIENCE', 'Engineering', 23),
 ('ASTRONOMY AND ASTROPHYSICS', 'Physical Sciences', 33),
 ('SOCIAL PSYCHOLOGY', 'Psychology & Social Work', 33)]

In [11]:
%%sql

/* ordering results in descending order */

SELECT Major,Major_Category,Unemployed
       FROM recent_grads
       ORDER BY Unemployed DESC
       LIMIT 10;

 * sqlite:///Jobs.db
Done.

[('PSYCHOLOGY', 'Psychology & Social Work', 28169),
 ('BUSINESS MANAGEMENT AND ADMINISTRATION', 'Business', 21502),
 ('POLITICAL SCIENCE AND GOVERNMENT', 'Social Science', 15022),
 ('GENERAL BUSINESS', 'Business', 14946),
 ('COMMUNICATIONS', 'Communications & Journalism', 14602),
 ('ENGLISH LANGUAGE AND LITERATURE', 'Humanities & Liberal Arts', 14345),
 ('BIOLOGY', 'Biology & Life Science', 13874),
 ('ACCOUNTING', 'Business', 12411),
 ('MARKETING AND MARKETING RESEARCH', 'Business', 11663),
 ('ECONOMICS', 'Social Science', 11452)]

In [10]:
%%sql

/* Exercise */

SELECT Major,Major_Category,Unemployment_Rate
       FROM recent_grads
       WHERE ShareWomen > 0.5
       ORDER BY Unemployment_Rate DESC
       LIMIT 10;

 * sqlite:///Jobs.db
Done.

[('CLINICAL PSYCHOLOGY', 'Psychology & Social Work', 0.14904819800000002),
 ('COMMUNICATION TECHNOLOGIES', 'Computers & Mathematics', 0.11951146900000001),
 ('COMMUNITY AND PUBLIC HEALTH', 'Health', 0.112144387),
 ('SCHOOL STUDENT COUNSELING', 'Education', 0.10757946199999999),
 ('OTHER FOREIGN LANGUAGES', 'Humanities & Liberal Arts', 0.107115726),
 ('FILM VIDEO AND PHOTOGRAPHIC ARTS', 'Arts', 0.10577224),
 ('LIBRARY SCIENCE', 'Education', 0.10494571800000001),
 ('LINGUISTICS AND COMPARATIVE LANGUAGE AND LITERATURE', 'Humanities & Liberal Arts', 0.10443571),
 ('GENERAL SOCIAL SCIENCES', 'Social Science', 0.103454715),
 ('ANTHROPOLOGY AND ARCHEOLOGY', 'Humanities & Liberal Arts', 0.102791571)]