In [1]:
%load_ext sql
%sql sqlite:///Jobs.db

## Summary Statistics

####  Some of the functions you can use include:
    > MIN-get the minimum value
    > MAX-get maximum value
    > SUM-gets the total value
    > AVG-gets the average value
    > COUNT-counts number of cells with values
    > ROUND-rounds the data to a number of decimal places
    > AS-to rename the column name
    > IS NULL-check for missing data

### MIN

In [3]:
%%sql
SELECT Major,MIN(Unemployment_rate) AS min_unemployement_rate
    FROM recent_grads;

 * sqlite:///Jobs.db
Done.

[('MATHEMATICS AND COMPUTER SCIENCE', 0.0)]

### MAX

In [4]:
%%sql
SELECT Major,MAX(Unemployment_rate) AS max_unemployement_rate
    FROM recent_grads;

 * sqlite:///Jobs.db
Done.

[('NUCLEAR ENGINEERING', 0.177226407)]

### SUM

In [5]:
%%sql
SELECT SUM(Unemployed)
FROM recent_grads
WHERE Major_Category="Engineering";

 * sqlite:///Jobs.db
Done.

[(29817,)]

#### Retrieving unique fields

In [6]:
%%sql
SELECT DISTINCT(Major_Category)
FROM recent_grads;

 * sqlite:///Jobs.db
Done.

[('Engineering',),
 ('Business',),
 ('Physical Sciences',),
 ('Law & Public Policy',),
 ('Computers & Mathematics',),
 ('Agriculture & Natural Resources',),
 ('Industrial Arts & Consumer Services',),
 ('Arts',),
 ('Health',),
 ('Social Science',),
 ('Biology & Life Science',),
 ('Education',),
 ('Humanities & Liberal Arts',),
 ('Psychology & Social Work',),
 ('Communications & Journalism',),
 ('Interdisciplinary',)]

In [7]:
%%sql
SELECT
  MIN(Unemployment_rate) AS Minimum,
  ROUND(MAX(Unemployment_rate),2) AS Maximum,
  ROUND(AVG(Unemployment_rate),2) AS Average
  FROM recent_grads;

 * sqlite:///Jobs.db
Done.

[(0.0, 0.18, 0.07)]